*{padding:0px;
	margin:0px;}
body{background-color:#EEE;	
	font-family: 'Bebas Neue', cursive;}
.container{
			max-width:1000px;
			background-color:#e4f9f5;
			margin:0 auto;
			padding:20px;
			}
header{
	
		}
.profile-img{height:100px;
			 width:120px;
			 border:3px solid white;
			 border-radius:40%;
			 float:left;
			}
.header-bio{float:left;
			padding:30px;
			}
h1,h2,h3,h4,h5,h6{color:#11999e;}

.header-contact{float:right;
				padding:30px;}
.header-contact a{text-decoration:none;
					color:#11999e;}
.header-contact a:hover{text-align:underline;
						color:green}
.div-clear{clear:both;}

hr{border:3px solib black;
	width:100%;
	margin:20px auto;
	border-bottom:none;
	}
.left-div{float:left;
			width:30%;}

.right-div{float:left;
			width:70%;}	
			
.common-hr{border:1px solid red;
		  border-bottom:none;
		  width:100%;
		  margin:20px auto;
			}
.nav-bar{
		 background-color:black;
		 text-align:center;
		padding:10px;	
		}
			
.nav-bar a{text-decoration:none;
			color:white;	
			margin:0px 30px;
			font-size:1.5rem;
}
.nav-bar p{margin:5px 0px;
			
			font-size:1rem;
			color:white;
			}
.div-left{float:left;
			width:40%;
			
			}
.div-right{float:right;
			width:40%;
			
			}
